:host {
  flex-grow: 1;
  background-color: #EEEEEE;
  border-left: 1px solid #CCCCCC;
}

.todo-list-body {
  border-bottom: 1px solid #CCCCCC;
}

.list-group {
  margin-top: 1em;
}

.todo-list-header {
  padding: 1em;
  padding-top: 2em;
  background-image: url('/assets/wool.png');
  color: #FFFFFF;
  border: 1px solid #000000;
}

.todo-list-header h3 {
  flex-grow: 1;
  margin: 0;
}
