<div class="todo-list-header">
  <div class="edit-title" *ngIf="editingName">
    <input #nameInput type="text" [(ngModel)]="listName" (blur)="saveName()" (keyup)="onEditKeyUp($event)">
  </div>
  <h3 *ngIf="!editingName" (click)="startEditingName()">{{ todoList.name }}</h3>
  <div>
    <i class="fa fa-2x fa-ellipsis-h" (click)="toggleMenu($event)"></i>

    <app-menu #menu>
      <app-menu-item (click)="toggleShowCompletedTodos()">
        <i class="fa fa-lg fa-check"></i>
        {{ showCompletedTodos ? 'Hide completed todos' : 'Show completed todos' }}
      </app-menu-item>
      <app-menu-item (click)="startEditingName()" *ngIf="todoList.editable">
        <i class="fa fa-lg fa-pencil"></i>
        Rename list
      </app-menu-item>
      <app-menu-item class="delete-list" (click)="showConfirmDeleteModal()" *ngIf="todoList.editable">
        <i class="fa fa-lg fa-trash"></i>
        Delete list
      </app-menu-item>
    </app-menu>

    <app-modal #confirmDeleteModal>
      <div class="modal-body">
        Are you sure you want to delete the list <strong>{{ todoList.name }}</strong>?
      </div>
      <div class="modal-buttons">
        <button (click)="hideConfirmDeleteModal()">Cancel</button>
        <button (click)="deleteTodoList()" class="danger">Delete</button>
      </div>
    </app-modal>

  </div>
</div>

<div class="todo-list-body">
  <app-add-todo [todoList]="todoList"></app-add-todo>
  <div id="active-todos">
    <app-todo-item *ngFor="let todo of todoList.getActiveTodos()" [todo]="todo" [todoList]="todoList">
    </app-todo-item>
  </div>

  <div id="completed-todos" *ngIf="showCompletedTodos">
    <app-todo-item *ngFor="let todo of todoList.getCompletedTodos()" [todo]="todo" [todoList]="todoList">
    </app-todo-item>
  </div>
</div>
