<div class="d-flex align-items-center todo-list-header">
  <h3>{{ todoList.name }}</h3>
  <div>
    <i class="fa fa-2x fa-ellipsis-h" (click)="toggleMenu($event)"></i>

    <app-menu #menu [hidden]="!showMenu">
      <app-menu-item (click)="toggleShowCompletedTodos()">
        <i class="fa fa-lg fa-check"></i>
        {{ showCompletedTodos ? 'Hide completed todos' : 'Show completed todos' }}
      </app-menu-item>
      <app-menu-item>
        <i class="fa fa-lg fa-pencil"></i>
        Rename list
      </app-menu-item>
      <app-menu-item class="delete-list">
        <i class="fa fa-lg fa-trash"></i>
        Delete list
      </app-menu-item>
    </app-menu>

  </div>
</div>

<div class="todo-list-body">
  <app-add-todo [todoList]="todoList"></app-add-todo>
  <div id="active-todos">
    <app-todo-item *ngFor="let todo of todoList.getActiveTodos()" [todo]="todo" [todoList]="todoList">
    </app-todo-item>
  </div>

  <div id="completed-todos" *ngIf="showCompletedTodos">
    <app-todo-item *ngFor="let todo of todoList.getCompletedTodos()" [todo]="todo" [todoList]="todoList">
    </app-todo-item>
  </div>
</div>
