<div class="d-flex align-items-center todo-list-header">
  <h3>{{ todoList.name }}</h3>
  <div>
    <!-- <button>
      <i class="fa fa-ellipsis-v"></i>
    </button> -->
    <button class="btn btn-primary btn-sm" (click)="toggleShowCompletedTodos()">
      {{ showCompletedTodos ? 'Hide completed todos' : 'Show completed todos' }}
    </button>
  </div>
</div>

<div class="todo-list-body">
  <app-add-todo [todoList]="todoList"></app-add-todo>
  <div id="active-todos">
    <app-todo-item *ngFor="let todo of todoList.getActiveTodos()" [todo]="todo" [todoList]="todoList">
    </app-todo-item>
  </div>

  <div id="completed-todos" *ngIf="showCompletedTodos">
    <app-todo-item *ngFor="let todo of todoList.getCompletedTodos()" [todo]="todo" [todoList]="todoList">
    </app-todo-item>
  </div>
</div>
