a .fa-pencil {
  visibility: hidden;
  color: #CCCCCC;
}

a:hover .fa-pencil {
  visibility: visible;
}

a:hover .fa-pencil.uneditable {
  visibility: hidden;
}

a:hover .fa-pencil:hover {
  color: #999999;
}

.fa {
  color: #999999;
}

.todo-list-item {
  cursor: pointer;
}

.badge {
  margin-right: 0.25em;
}

.list-label {
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-drop-target {
  background-color: #F4FAFF;
}

.active-drop-target.active {
  background-color: #3D698E;
}
