<a
  [routerLink]="['/lists', todoList.id]"
  routerLinkActive="active"
  (dblclick)="editList($event)"
  class="todo-list-item"
  #dropTarget
  [draggable]="todoList.id !== 'inbox'"
  (dragstart)="onDragStart($event)"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  (dragleave)="onDragLeave($event)"
  [id]="'list-' + todoList.id"
>
  <span class="list-label"><i [class]="'fa fa-lg ' + todoList.icon" aria-hidden="true"></i> {{ todoList.name }}</span>
  <div>
    <i
      [class.uneditable]="!todoList.editable"
      (click)="editList($event)"
      class="fa fa-pencil"
      aria-hidden="true"
    ></i>
    <span *ngIf="openTodosCount > 0" class="open-todos-count">{{ openTodosCount }}</span>
  </div>
</a>
