<a
  [routerLink]="['/lists', todoList.id]"
  routerLinkActive="active"
  (dblclick)="editList($event)"
  class="todo-list-item"
  #dropTarget
  [draggable]="todoList.id !== 'inbox'"
  (dragstart)="onDragStart($event)"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  (dragleave)="onDragLeave($event)"
  (contextmenu)="onRightClick($event)"
  [id]="'list-' + todoList.id"
>
  <span class="list-label"><i [class]="'fa fa-lg ' + todoList.icon" aria-hidden="true"></i> {{ todoList.name }}</span>
  <div>
    <span *ngIf="openTodosCount > 0" class="open-todos-count">{{ openTodosCount }}</span>
  </div>

  <app-menu #popupMenu>
    <app-menu-item class="delete-list">
      <i class="fa fa-lg fa-trash delete-list"></i>
      Delete list
    </app-menu-item>
  </app-menu>
</a>
