:host {
  display: block;
  width: 100%;
}

a {
  display: flex;
  padding: 0.5em 0.25em;
  text-decoration: none;
  border-radius: 3px;
  margin: 2px;
  color: #333333;
}

a:hover {
  background: #EEEEEE;
}

a.active {
  background: #E2E6EF;
}

a .fa-pencil {
  visibility: hidden;
  color: #CCCCCC;
}

a:hover .fa-pencil {
  visibility: visible;
}

a:hover .fa-pencil.uneditable {
  visibility: hidden;
}

a:hover .fa-pencil:hover {
  color: #999999;
}

.fa {
  color: #CCCCCC;
  width: 1.5em;
  text-align: center;
}

.todo-list-item {
  cursor: pointer;
}

.badge {
  margin-right: 0.25em;
}

.list-label {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

.active-drop-target {
  background-color: #F4FAFF;
}

.active-drop-target.active {
  background-color: #3D698E;
}

.open-todos-count {
  color: #999999;
  font-size: 0.75em;
}
