.completed .todo-text {
  color: #999999;
}

.completed .todo-text {
  text-decoration: line-through;
}

.toggle-completed {
  cursor: pointer;
  line-height: 1em;
}

.todo-text {
  margin-left: 0.5em;
  flex-grow: 1;
}

.todo-container {
  width: 100%;
}

.todo-container .fa-pencil {
  visibility: hidden;
  cursor: pointer;
  color: #CCCCCC;
}

.todo-container:hover .fa-pencil:hover {
  color: #999999;
}

.todo-container:hover .fa-pencil {
  visibility: visible;
}

.todo {
  padding: 0.5em;
  background-color: #FFFFFF;
  border-top: 1px solid #CCCCCC;
}

.due-date {
  color: #999999;
  font-size: 0.7em;
}

.overdue .due-date {
  color: red;
}

.overdue {
  border-left: 5px solid red;
}

.priority {
  margin-left: 0.25em;
}

.priority .fa-arrow-up {
  color: red;
}

.priority .fa-arrow-down {
  color: green;
}
