<form #addForm="ngForm" (ngSubmit)="onAdd(addForm)">
  <div class="modal-header">
    <h4 class="modal-title">Add New List</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="form-group">
        <label for="name">List name</label>
        <input type="text" class="form-control" id="name" name="name" maxlength="50" #nameInput ngModel required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!addForm.valid"
    >Add</button>
  </div>
</form>
