.menu {
  background-color: #EEEEEE;
  position: absolute;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #AAAAAA;
  font-size: 0.8em;
}

hr {
  margin: 5px;
}
