.toggle-completed {
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: center;
}

.toggle-completed i {
  vertical-align: middle;
  margin: 25%;
}

.todo-completed {
  color: #FFFFFF;
  background-color: #58A258;
  border: 1px solid #468046;
}

.todo-active {
  color: #AAAAAA;
  border: 1px solid #999999;
}

.todo-active i {
  display: none;
  margin: 25%;
}

.todo-active:hover i {
  display: block;
}
