<form #editForm="ngForm" (ngSubmit)="onEdit(editForm)">
  <div class="modal-header">
    <h5 class="modal-title">Edit Todo</h5>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div *ngIf="isOverdue" class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This todo is overdue.
      </div>
      <div class="form-group d-flex" [class.has-danger]="!textInput.valid && textInput.touched">
          <div class="align-self-center">
            <app-toggle-todo [todo]="todo"></app-toggle-todo>
          </div>
          <div class="todo-text">
            <input
              class="form-control"
              type="text"
              name="text"
              id="text"
              maxlength="100"
              [(ngModel)]="text"
              #textInputEl
              #textInput="ngModel"
              required
            >
            <div id="todo-text-error" *ngIf="!textInput.valid && textInput.touched" class="form-control-feedback">Todo text is required.</div>
          </div>
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control custom-select" [(ngModel)]="priority" name="priority">
          <option *ngFor="let priority of priorities" [value]="priority.value">{{priority.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dueDate">Due date</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dueDate"
            id="dueDate"
            [(ngModel)]="dueDate"
            ngbDatepicker
            #dueDatePicker="ngbDatepicker"
          >
          <div class="input-group-addon" (click)="dueDatePicker.toggle()">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea
          class="form-control"
          name="notes"
          id="notes"
          rows="4"
          [(ngModel)]="notes"
          #notesInput="ngModel"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <ng-template #confirmDelete>
      <div>Are you sure you want to delete this todo?</div>
      <button type="button" (click)="delete.close()" class="btn btn-secondary btn-sm">Cancel</button>
      <button type="button" (click)="onDelete()" class="btn btn-danger btn-sm">Delete</button>
    </ng-template>
    <button type="button" class="btn btn-danger" #delete="ngbPopover" [ngbPopover]="confirmDelete">Delete Todo</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Save</button>
  </div>
</form>
